/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* end css reset */



body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
    font-size: 18px;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

header, footer, section {
    margin-bottom: 22px;
}

header, footer {
    background-color: #6c757d;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    border-radius: 8px 8px 0 0;
    padding: 20px;
}

footer {
    border-radius: 0 0 8px 8px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small.copyright {
    float: left;
    color: #fff;
}

h1, h2, h3, h4 {
    color: #333;
    margin: 0 0 10px;
    font-size: 1.25em;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

nav a {
    color: #333;
    margin: 0 10px;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 20px;
}

nav a:hover {
    color: #007BFF;
    background-color: #e2e6ea;
    border-radius: 4px;
}

.section {
    background-color: #f8f9fa;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.section h2 {
    margin-bottom: 10px;
}

.section p {
    line-height: 1.6;
}

.section img {
    margin-bottom: 10px;
    border-radius: 4px; 
}

.section.highlights {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.section.highlights .highlight-section {
    flex: 1;
    min-width: 300px; 
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.highlight-section {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

.highlight-image {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    object-fit: cover;
}

.profile-image {
    max-width: 200px;
    max-height: 200px;
    padding: 20px;
}

